
.field-error {
    padding-top: 0.25rem;
    color: var(--error-color);
    font-size: 0.75rem;
}

.field-hint {
    padding-top: 0.25rem;
    color: var(--hint-color);
    font-size: 0.75rem;
}

.rounded-sm {
    border-radius: var(--rounded-sm);
}

.rounded {
    border-radius: var(--rounded);
}

.rounded-md {
    border-radius: var(--rounded-md);
}

.hidden-scroll {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer & Edge */
}

.hidden-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}